<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Clicky.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>241E876F18B65622002BD8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>241E879A18B65622002BD8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>245892FF18BF910800C8A4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2458932318BF910900C8A4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24DD9C6918D13524009D6CCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
